@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shape {
  shape-image-threshold: 0.5;
  shape-outside: url('../assets/backround/Union.png');
}


