@import "_vars.css";

header {
  box-shadow: var(--box-shadow);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 112px;
}

.navbar-logo-name {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--principal);
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-left: 50px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  margin-right: 34px;
}

.navbar-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  list-style: none;
}

.navbar-right ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--black)
}

.navbar-shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 12px 30px;
  border-radius: 15px;
  gap: 15.12px;
}

.navbar-shopping-cart img {
  width: 19.6px;
  height: 19.98px;

}

.navbar-shopping-cart span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}